#company {
  width: 100%;
  .subVisual {
    position: relative;
    width: 100%;
    height: 350px;
    background: url(../images/main_banner/main_banner_02.jpg) no-repeat
      center/cover fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #eee;
    span {
      margin-bottom: 5px;
      font-family: bold;
      opacity: 0;
      transition: 0.5s;
      transform: translateY(-100%);
      &.on {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    h1 {
      font: bold 42px/1 "arial";
      opacity: 0;
      transition: 0.5s;
      transform: translateY(100%);
      &.on {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
  .subTitle {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;

    p {
      padding-top: 30px;
      height: 100%;
      font: 699 18px/1 "arial";
      color: #222;
      border-bottom: 2px solid #000;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: #eee;
      z-index: -1;
      bottom: 0;
    }
  }
  .inner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 50px;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    .about {
      display: flex;
      width: 100%;
      > h1 {
        display: block;
        width: 30%;
        min-width: 200px;
        margin-right: auto;
      }
      article {
        p {
          margin-bottom: 40px;
          font: 500 17px/1 "arial";
          letter-spacing: 0.7px;
          color: rgb(150, 149, 149);
          &:last-child {
            color: #000;
          }
        }
      }
    }
    > h2 {
      text-align: center;
      font-size: 20px;
      position: relative;
      margin-bottom: 40px;
      display: block;
      width: 100%;

      padding-bottom: 30px;
      &::after {
        width: 50px;
        height: 2px;
        content: "";
        display: block;
        background-color: rgb(215, 213, 213);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      > span {
        display: block;
        font-size: 15px;
        text-align: center;
        color: #0054a6;
        margin-bottom: 20px;
      }
    }

    #map {
      width: 100%;
      height: 500px;
    }
  }
}

@media screen and (max-width: $mobileWeb) {
  #company {
    .inner {
      .about {
        flex-direction: column;
        > h1 {
          margin-bottom: 30px;
          margin: 30px auto;
          text-align: center;
        }
        article {
          p {
            &:last-child {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
