#product {
  width: 100%;
  .subVisual {
    position: relative;
    width: 100%;
    height: 350px;
    background: url(../images/main_banner/main_banner_02.jpg) no-repeat center/cover fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #eee;
    span {
      margin-bottom: 5px;
      font-family: bold;
      opacity: 0;
      transition: 0.5s;
      transform: translateY(-100%);
      &.on {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    h1 {
      font: bold 42px/1 'arial';
      opacity: 0;
      transition: 0.5s;
      transform: translateY(100%);
      &.on {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
  .subTitle {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;

    p {
      padding-top: 30px;
      height: 100%;
      font: 699 18px/1 'arial';
      color: #222;
      border-bottom: 2px solid #000;
    }
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: #eee;
      z-index: -1;
      bottom: 0;
    }
  }
  .inner {
    max-width: 1180px;
    margin: 0 auto;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    padding: 100px;
    .video {
      width: 100%;
      display: flex;
      justify-content: center;

      margin-bottom: 30px;
    }
    strong {
      float: left;
      font-size: 40px;
      margin-right: 20px;
      padding-top: 10px;
    }
    > p {
      line-height: 1.4;
    }
    article {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      div {
        margin-bottom: 30px;
        width: 50%;
        h2 {
          float: left;
          width: 100px;
          height: 100px;
          border: 1px solid #313d77;
          background-color: #313d77;
          color: #fff;
          border-radius: 50%;
          text-align: center;
          line-height: 100px;
        }
        p {
          height: 100%;
          padding: 0 15px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: $tabletWeb) {
  #product {
    .inner {
      article {
        div {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $mobileWeb) {
  #product {
    .inner {
      padding: 0;
      article {
        div {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          h2 {
            margin: 0 auto;
          }
          p {
            height: 70%;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
