@import "community.scss";

$quatorWeb: 1500px;
$halfWeb: 1180px;
$tabletWeb: 820px;
$mobileWeb: 539px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

table {
  border-collapse: collapse;
}

.hidden {
  display: none;
}

// HEADER
#header {
  width: 100%;
  height: 120px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 20;
  .inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    // 왼쪽 로고
    > h1 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 250px;
      transition: 0.5s;
      a {
        display: block;
        img {
          width: 150px;
        }
      }
    }

    // 중앙 메뉴, full, quator screen
    .centerMenu {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      float: right;
      ul {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        li {
          position: relative;
          padding: 25px;
          height: 100%;
          transition: 0.7s;
          a {
            color: #333;
            display: block;
            transform: translateY(40%);
            height: 100%;
            font: bold 18px/1 "arial";
          }
          &:hover {
            background-color: #313d77;
            a {
              color: #fff;
            }
          }
        }
      }
    }

    // 우측 버튼
    .contactBtn {
      display: block;
      position: absolute;
      top: 50%;
      right: 270px;
      transform: translateY(-50%);
      background: #313d77;
      color: #fff;
      font: bold 12px/1 "arial";
      letter-spacing: 1px;
      width: 120px;
      height: 40px;
      text-align: center;
      line-height: 42px;
      border-radius: 30px;
      opacity: 0.95;
      transition: opacity 0.2s, right 0.5s;
      &:hover {
        opacity: 1;
      }
    }

    // 메뉴 버튼
    .menuBtn {
      display: none;
      position: absolute;
      z-index: 20;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-indent: -99999px;
        opacity: 1;
        transition: opacity 0.2s, transform 0.1s;
      }
      &::before {
        width: 100%;
        height: 2px;
        background-color: #000;
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.4s;
      }
      &::after {
        width: 100%;
        height: 2px;
        background-color: #000;
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 0.4s;
      }
      &.active {
        span {
          transform: translateX(100%);
          opacity: 0;
        }
        &::before {
          margin-top: -1px;
          transform: rotate(45deg);
          top: 50%;
        }
        &::after {
          transform: rotate(-45deg);
          margin-bottom: -1px;
          bottom: 50%;
        }
      }
    }
    // 좌측 메뉴, tablet, mobile
    .sideMenu {
      display: none;
      background-color: #fff;
      position: absolute;
      width: 270px;
      height: 100vh;
      z-index: 20;
      transform: translateX(-270px);
      transition: 0.4s;
      &.active {
        transform: translateX(0);
      }
      // 상단 로고
      > h1 {
        padding: 40px;
        a {
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
      // 메뉴
      > ul {
        height: 100%;
        text-align: center;
        li {
          height: 60px;
          text-align: center;
          border-top: 2px solid #eee;
          transition: 0.2s;
          a {
            font: bold 14px/60px "arial";
            color: #313d77;
          }
          &:hover {
            background-color: #313d77;
            a {
              color: #fff;
            }
          }
        }
      }

      // 하단 버튼
      > article {
        position: absolute;
        z-index: 20;
        bottom: 30px;
        width: 100%;
        ul {
          display: flex;
          justify-content: center;
          li {
            padding: 20px;
            transition: 0.2s;
            a {
              color: #313d77;
              font: bold 13px/1 "arial";
            }
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

// FIGURE
#figure {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);

  // tablet, mobile 문구
  .smallText {
    display: none;
    position: absolute;
    z-index: 10;
    top: 35%;
    left: 35%;
    transform: translate(-35%, -35%);
    h1 {
      color: #fff;
      font-size: 30px;
      margin-bottom: 20px;
    }
    p {
      color: #fff;
      font-size: 18px;
    }
  }

  // falf, quator 영상 및 문구
  .bigText {
    position: absolute;
    left: 40%;
    top: 30%;
    z-index: 10;
    .text {
      h1 {
        color: #eee;
        font-size: 38px;
        margin-bottom: 20px;
      }
      p {
        color: #eee;
        font-size: 20px;
      }
    }
  }

  .inner {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    > div {
      overflow: hidden;
      width: 80%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      ul {
        width: 300%;
        height: 100%;
        li {
          width: calc(100% / 3);
          height: 100%;
          display: block;
          float: left;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .popUp {
    position: absolute;
    z-index: 5;
    bottom: -5%;
    left: 10vw;
    width: 100%;
    height: 250px;
    ul {
      width: 100%;
      li {
        float: left;
        margin-right: 20px;
        // min-width: 10vw;
        // min-height: 10vh;
        width: 12vw;
        height: 12vh;
        transition: 0.8;
        transform: scale(0.9);
        img {
          filter: brightness(0.8);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &.on {
          transform: scale(1);
          img {
            filter: brightness(1.2);
          }
        }
      }
    }
  }
  .prevBtn {
    position: absolute;
    top: 50%;
    left: 30vw;
    i {
      transition: 0.5s;
      opacity: 0.7;
      font-size: 32px;
      position: relative;
      color: #eee;
      cursor: pointer;
      &:hover {
        opacity: 1;
        transform: translateX(-10%);
      }
    }
  }
  .nextBtn {
    position: absolute;
    top: 50%;
    right: 8vw;
    i {
      transition: 0.5s;
      opacity: 0.7;
      font-size: 32px;
      position: relative;
      color: #eee;
      cursor: pointer;
      &:hover {
        opacity: 1;
        transform: translateX(10%);
      }
    }
  }
}

// BANNER
#banner {
  position: relative;
  width: 100%;
  padding: 160px 0;
  transition: 0.7s;
  .inner {
    width: 100%;
    position: relative;
    overflow: hidden;
    width: 1180px;
    margin: 0 auto;
    // 제목
    > h1 {
      font-size: 30px;
      margin-bottom: 15px;
    }
    // 설명
    > p {
      margin-bottom: 25px;
      color: #777;
      font-size: 19px;
    }

    // 우측 버튼
    > a {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 150px;
      height: 50px;
      text-align: center;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 50px;
      background-color: #313d77;
    }
    .wrap {
      width: 100%;
      height: 100%;

      // 이미지와 제품 이름을 갖고 있는 박스
      article {
        float: left;
        margin-right: 20px;
        text-align: center;
        transition: 0.7s;
        // 이미지
        div {
          width: 280px;
          height: 280px;
          margin-bottom: 20px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        // 제품 이름
        h2 {
          margin-top: 25px;
          padding-bottom: 25px;
          transition: 0.7s;
          border-bottom: 2px solid #eee;
        }
        &:last-child {
          margin-right: 0px;
        }
        // 각각의 아이템에 호버 추가
        @for $x from 1 to 5 {
          &:nth-of-type(#{$x}):hover {
            h2 {
              border-bottom: 2px solid #313d77;
            }
          }
        }
      }

      // float 초기화
      &::after {
        clear: both;
        display: block;
        content: "";
      }
    }
  }
}

// NEWS
#news {
  position: relative;
  width: 100%;
  padding: 140px 0;

  background: url("../images/main_banner/main_banner_02.jpg") no-repeat
    center/cover fixed;

  // 중앙의 세로선
  &::after {
    width: 100%;
    height: 1px;
    display: block;
    content: "";
    background-color: #777;
    position: absolute;
    top: 55%;
  }

  .inner {
    width: 1180px;
    margin: 0 auto;
    // 제목
    h1 {
      font-size: 30px;
      color: #fff;
      margin-bottom: 10px;
    }
    // 설명
    > p {
      color: #eee;
      margin-bottom: 200px;
      font-size: 24px;
    }

    // 파트너 리스트
    .partner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        display: block;
        color: #fff;
        font-size: 24px;
        margin-right: 100px;
      }
      div {
        padding-left: 40px;
        padding-right: 20px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &::after {
        content: "";
        display: block;
        margin-top: 70px;
      }
    }
    // 우측 상단 배너
    .contact {
      position: absolute;
      top: -100px;
      right: 10%;
      background-color: #313d77;
      padding: 50px 70px 50px 140px;
      text-align: right;
      > h3,
      h4,
      p {
        color: #fff;
      }
      h3 {
        margin-bottom: 20px;
      }
      h4 {
        font-size: 32px;
        margin-bottom: 20px;
      }
      p {
        line-height: 25px;
        font-size: 14px;
      }
    }

    // 중앙 하단 메뉴
    .simpleMenu {
      z-index: 2;
      position: absolute;
      bottom: -200px;
      background-color: #fff;
      width: 1180px;
      div {
        width: calc(100% / 3);
        height: 100%;
        padding: 50px;
        float: left;
        border-right: 1px solid #eee;
        transition: 0.3s;
        &:last-child {
          border-right: 0;
        }
        h2 {
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 100px;
          color: #777;
          line-height: 1.7;
        }
        a {
          color: #000;
          font: bold 17px/1 "arial";
          i {
            float: right;
          }
        }
        &:hover {
          background-color: #313d77;
          > h2,
          p,
          a {
            color: #fff;
          }
        }
      }
      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }
}

// FOOTER
#footer {
  padding: 250px 0 100px 0;
  width: 100%;
  position: relative;
  background-color: #333;
  .inner {
    width: 1180px;
    margin: 0 auto;
    // 좌측 회사 정보
    .footerInfo {
      float: left;
      width: 580px;
      h1 {
        color: #fff;
        margin-bottom: 30px;
      }
      p {
        color: #777;
        margin-bottom: 70px;
      }
      // 좌측 하단 사이트 메뉴
      ul {
        display: flex;
        li {
          padding-right: 20px;

          a {
            color: #777;
            transition: 0.3s;
          }
          &:hover {
            a {
              color: #eee;
            }
          }
        }
      }
    }
    // 우측 회사 sns정보
    .footerContact {
      float: right;
      width: 580px;
      text-align: left;
      padding-left: 100px;
      h1 {
        color: #fff;
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 70px;
        li {
          position: relative;
          color: #fff;
          padding-left: 70px;
          span {
            left: 0;
            top: 0;
            position: absolute;
            color: #777;
          }
        }
      }
      p {
        color: #777;
        font-size: 14px;
      }
    }
    // float 초기화
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

// 1500px
@media screen and (max-width: $quatorWeb) {
  // Header
  #header {
    .inner {
      h1 {
        left: 20px;
      }
      .contactBtn {
        right: 20px;
      }
    }
  }
  // figure
  #figure {
  }
  // bnner
  #banner {
    .inner {
      .wrap {
        article {
          margin-bottom: 20px;
          width: 49%;
          &:nth-of-type(2n) {
            margin-right: 0;
          }
          div {
            width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }
  // news
  #news {
  }
  // footer
  #footer {
  }
}

// 1180px
@media screen and (max-width: $halfWeb) {
  // header
  #header {
    .inner {
      width: 100%;
      .centerMenu,
      .contactBtn {
        display: none;
      }

      .menuBtn,
      .sideMenu {
        display: block;
      }
    }
  }
  // figure
  #figure {
    width: 100%;
    height: 70vh;
  }
  // banner
  #banner {
    padding: 90px 0;
    .inner {
      width: 90%;
      padding-top: 30px;
      > p {
        margin-bottom: 40px;
      }
      .wrap {
        width: 80%;
        margin: 0 auto;
        article {
          width: 49%;
          margin-right: 2%;
          margin-bottom: 20px;
          &:nth-of-type(2n) {
            margin-right: 0;
          }
          div {
            width: 100%;
            height: 20vmax;
            margin: 0 auto;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  // news
  #news {
    .inner {
      width: 100%;
      padding: 30px 100px;
      > p {
        margin-bottom: 120px;
      }
      .contact {
        padding: 10px 20px 0px 20px;
      }
      .simpleMenu {
        width: 100%;
        left: 0;
      }
      .partner {
        flex-wrap: wrap;
        margin-bottom: 30px;
        p {
          font-size: 27px;
          width: 100%;
          text-align: center;
          margin-right: 0;
          margin-bottom: 15px;
          margin-top: 15px;
        }
        div {
          width: 23%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 0;
          img {
            width: 70%;
            text-align: center;
          }
        }
      }
    }
  }
  // footer
  #footer {
    padding: 250px 0 50px 0;
    .inner {
      width: 100%;
      .footerInfo {
        width: 50%;
        padding: 30px;
      }
      .footerContact {
        width: 50%;
        padding: 30px;
      }
    }
  }
}

// 820px
@media screen and (max-width: $tabletWeb) {
  // header
  #header {
    height: 100px;
    .inner {
      .sideMenu {
        width: 200px;
        > h1 {
          padding: 20px;
        }
      }
    }
  }
  // figure
  #figure {
    margin-left: 0;
    width: 100%;
    height: 400px;
    background: url("../images/main_banner/main_banner_04.jpg") no-repeat
      center/cover;
    .bigText,
    .inner,
    .popUp,
    .prevBtn,
    .nextBtn {
      display: none;
    }

    .smallText {
      display: block;
    }
  }
  // banner
  #banner {
    padding: 50px 0;
  }
  // news
  #news {
    padding: 60px 0 140px 0;
    &::after {
      display: none;
    }
    .inner {
      h1 {
        font-size: 20px;
      }
      > p {
        font-size: 17px;
        margin-bottom: 50px;
      }
      .contact {
        top: -30px;
        padding: 30px 40px 10px 50px;
        h3 {
          font-size: 11px;
        }
        h4 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        p {
          display: none;
        }
      }
      .simpleMenu {
        bottom: 40px;
        height: 150px;
        div {
          padding: 25px;
          height: 100%;

          p {
            display: none;
          }
        }
      }
      .partner {
        width: 100%;
        p {
          font-size: 20px;
          margin-bottom: 5px;
        }
        div {
          width: 50%;
          img {
            width: 50%;
            margin-left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  // footer
  #footer {
    padding: 50px 0 30px 0;
    width: 100%;
    height: 100%;
    .inner {
      .footerContact {
      }
    }
  }
}

// 539px
@media screen and (max-width: $mobileWeb) {
  // header
  #header {
    height: 80px;
    .inner {
      > h1 {
        margin-top: 5px;
        a {
          img {
            width: 100px;
          }
        }
      }
    }
  }
  // figure
  #figure {
    height: 280px;
    .smallText {
      top: 45%;
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  // banner
  #banner {
    padding: 0;
    .inner {
      padding: 30px 0;

      > a {
        top: 20px;
        width: 120px;
        height: 40px;
        font-size: 11px;
        line-height: 40px;
      }
      .wrap {
        article {
          width: 100%;
          h2 {
            margin-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
  // news
  #news {
    padding: 30px 0;
    .inner {
      padding: 30px 50px;
      .contact {
        padding: 10px 15px;
        h4 {
          margin-bottom: 0;
        }
      }
      > p {
        margin-bottom: 20px;
      }
      .simpleMenu {
        width: 100%;
        height: 70px;
        bottom: -20px;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          h2 {
            font-size: 16px;
            text-align: center;
            margin-bottom: 0;
            line-height: 40px;
          }

          a {
            display: none;
          }
        }
      }
    }
  }
  // footer
  #footer {
    padding: 30px 0;
    width: 100%;
    .inner {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      .footerInfo {
        width: 100%;
        float: none;
        padding: 0 30px;
        p {
          margin-bottom: 20px;
        }
      }
      .footerContact {
        float: none;
        width: 100%;
        ul {
          margin-bottom: 20px;
        }
      }
    }
  }
}
